module.exports = {
	"dev":{
		"httpHeaderPrefix":"alicespa3",
		"timezone":"Asia/Shanghai",//server will run in this timezone, `ls /usr/share/zoneinfo`
		"database":{
			"databases":{
				"main":{
					"host":"xxx.xxx",
					"port":3306,
					"connectionLimit":10,
					"databaseName":"AliceSPA3",
					"timezone":"+08:00",//+HH:MM or -HH:MM, timezone of database, 'SELECT TIMEDIFF(NOW(), UTC_TIMESTAMP)' to get it
					"users":{
						"main":{
							"username":"root",
							"password":"root"
						}
					}
				}
			}
		},
		'authentication':{
			'userTokenValidTime':31*24*3600, // seconds
			'nameFields':[
				'username',
				'telephone',
				'email'
			]
		}
	}
}